/* mix */
*  {
  font-family: 'Roboto', sans-serif;
}

.light_background {
  background-color: #f3f5f9;
}
/* mix end */
/* Typography */
h1 {
  font-weight: 700;
  font-size: 55px;
}

h2, h3, h4,
h5, h6 {
  font-weight: 500;
}

h5 {
  font-size: 18px;
}

header p  {
  font-size: 19px;
}

main p  {
  color: #7f89a3;
}

.intro_p {
  font-size: 23px;
}

.small_p p {
  font-size: 15px;
}

.sign_up_box p {
  font-size: 15px;
}

.main_text_color {
  color: #031c4e;
}

.text_light_color {
  color: #7f89a3;
}

.weight_500 {
  font-weight: 500;
}

ul {
  margin: 0;
}

.menu_top a {
  font-size: 14px;
  color: currentColor;
}
/* Typography end */
/* buttons */
.sign_up {
  border-color: #006aff;
  color: #006aff;
  font-size: 13px;
}

.sign_up:hover {
  background-color: #006aff;
  color: white;
}

.btn_mobile  {
  background-color: transparent;
  color: #579aff;
  border: none;
  font-size: 20px;
}

.ligh_blue_btn  {
  background-color: #579aff;
  color: white;
}

.sign_up_google, .ligh_blue_btn {
  width: 100%;
}

.sign_up_google {
  margin: 10px 0;
  border: none;
  box-shadow: 1px 1px 1px 0px #ccc;
}

.exhibit_btn  {
  padding: 15px 20px;
  border: none;
  border-left: 2px solid lightgrey;
  font-size: 18px;
  background-color: transparent;
  font-weight: 500;
  outline: none;
}

.exhibit_btn:focus {
  border-color: #006aff;
  color: rgb(3, 27, 78);
}
/* buttons */
/* menu */
.menu_top {
  padding: 20px 0;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.logo {
  width: 200px;
}

.menu_top nav {
  margin-top: 10px;
}

.menu_top li:not(:last-child) {
  margin-right: 5px;
}

.first_nav  {
  margin-left: 100px;
}

.fa-angle-down {
  margin-left: 4px;
  font-size: 16px;
  vertical-align: middle;
}
/* menu end */
/* hero */
.hero {
  background-image: url("../img/bg-home-hero-3.svg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.presentation {
  color: #fff;
  padding-top: 150px;
  padding-right: 100px;
}

.sign_up_box {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 110px 0;
}

.sign_up_box h3 {
  font-size: 30px;
  line-height: 50px;
  color: #006aff;
  padding-top: 20px;
}

.sign_up_box a {
  text-decoration: underline;
}

.form {
  font-size: 17px;
  padding: 5px;
  height: 40px;
}

.google_icon {
  height: 20px;
}
/* hero end */
/* main */
/* sponsors */
.sponsors {
  padding: 50px 10px;
}

.sponsors h4 {
  color: #7f89a3;
  padding-bottom: 50px;
}

.sponsors p {
  display: inline-block;
  margin-top: 50px;
}

.fa-greater-than {
  font-size: 10px;
  margin-left: 10px;
}
/* sponsors end */
/* functioning */
.functioning  {
  padding: 100px 0;
}

.functioning_explanation  {
  padding: 50px;
}

.exhibit_box  {
  padding-right: 55px;
  padding-bottom: 40px;
}
/* functioning end */
/* main end */
@media screen and (max-width: 991px)  {
  .presentation {
    padding-top: 50px;
    padding-right: 0px;
  }

  .sign_up_box {
    margin-bottom: 110px;
    margin-top: 0;
  }
}
